---
import { Footer } from "../components/Footer.tsx";
import Layout from "../components/Layout.astro";
---

<Layout>
    <div>내용</div>
    <Footer />
</Layout>

<style>
    div {
        height: 3000px;
    }
</style>
