.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--color-bg-subtle);
  color: var(--color-text-muted);
  position: relative;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--layout-page-max-width);
  padding: 80px var(--space-page-x);
}

.list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;

  a {
    color: inherit;
  }
}
